# Xcode
build/
DerivedData/
*.xcuserdata
*.xcworkspace/xcuserdata
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.DS_Store

# Generated
*.xcodeproj/xcuserdata/
